@import "Constants.scss";
@import "Dialogs.scss";
@import "Popover.scss";
@import "Production.scss";

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    -webkit-touch-callout:none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust:none;             /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color:rgba(0,0,0,0); /* prevent tap highlight color / shadow */
    -webkit-user-select:none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

body {
    font: 16px/1.5em -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background: black;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

h1 {
    margin-bottom: 30px;
}

nav a {
    text-decoration: none;
    display: inline-block;
}

button, a {
    cursor: pointer;
}

button:hover, a:hover {
    opacity: 0.85;
}

button {
    background: $button-blue;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.2s;
}

/* Start Menu */
.menu {
    width: 80%;
    height: 80%;
    margin: auto;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
    padding: 80px;
    box-sizing: border-box;
    max-height: 602px;
    max-width: 800px;
    overflow: auto;
}

.menu > h1 {
    font-size: 50px;
}

.menu ul {
    margin-top: 40px;
}

.menu ul > li {
    list-style: none;
    color: #999;
    font-size: 20px;
    font-weight: 300;
    margin-top: 20px;
}

.menu ul > li:not(:last-child) {
    margin-bottom: 30px;
}

button.bordered {
    //border: 1px solid #417cdb;
    color: #222;
    background: #eee;
    transition: background 0.3s;
}

button.bordered:hover {
    background: #417cdb;
    color: white;
}

button.large {
    font-weight: normal;
    width: 80%;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 20px;
}

div.rc-input-number~label {
    line-height: 70px;
}

input[type="text"], .number-input {
    padding: 10px;
    background: #eaeaea;
    border-radius: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    color: #333;
    font-weight: normal;
    margin-bottom: 20px;
}

.number-input {
    text-align: right;
}

input.rc-input-number-input {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    text-align: right;
    font-size: 16px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.number-input * {
    margin-bottom: 5px;
}

.rc-input-number-input {
    text-align: right;
}

button[disabled] {
    opacity: 0.4
}

/* Information Bar */

.informationBar {
    position: fixed;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    top: 0;
}

.informationBar > ul {
    display: inline-block;
}

.informationBar > ul > li {
    display: inline-block;
    margin-right: 5px;
    line-height: 1.5em;
}

.informationBar > ul > li > a, .informationBar > ul > li > button, .time {
    background: #111;
    color: white;
    padding: 8px 18px;
    box-sizing: border-box;
    border-radius: 20px;
    transition: all 0.2s;
    font-weight: normal;
    line-height: 24px;
}

.informationBar > ul > li > a:hover, .informationBar > ul > li > button:hover  {
    background: #333;
}

.informationBar .fas {
    margin-right: 8px;
}

.buttonSet > button:not(:last-child) {
    margin-right: 10px;
}

.time {
    display: inline-block;
    float: right;
    min-width: 160px;
}

.time > button {
    line-height: inherit;
    cursor: pointer;
    background: none;
    font-size: inherit;
    color: inherit;
    padding: 0;
}

/* Map */
#App {
    height: 100%;
    width: 100%;
}

canvas {
    height: 100%;
    width: 100%;
}

.menu h3 {
    margin-top: 40px;
}

.menu .paragraph {
    color: #777;
}

.pull-right {
    display: block;
    margin-left: auto;
}

.pull-right-inline {
    float: right;
}

/* Grid */

.quarter:not(:last-child) {
    border-right: 15px solid white;
}

.third:not(:last-child) {
    border-right: 10px solid transparent;
}

.three-quarter {
    flex-basis: 75%;
}

.two-thirds {
    flex-basis: 66.666666666%;
}

.half {
    flex-basis: 50%;
    overflow: auto;
}

.third {
    flex-basis: 33.333333333%;
}

.quarter {
    flex-basis: 25%;
}

/* Table */
table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    font-variant-numeric: tabular-nums;
}

th, td {
    width: 120px;
}

td+td, th+th {
    width: auto;
}

th, td {
    text-align: right;
}

#company td:first-child {
    text-align: left;
}

.table-border-top {
    border-top: 1px solid #ddd;
}

/*tr > td+tr.table-border-top > td {
    padding-bottom: 10px;
}*/

.level {
    background: lightslategray;
    border-radius: 5px;
    padding: 2px 6px;
    line-height: 1em;
    color: white;
    height: 1em;
    margin-top: 5px;
}

.table-border-top > td {
    padding-top: 10px;
}

hr {
    margin: 10px 0px;
    border-bottom: 1px solid #eee;
}

#company {
    margin-bottom: 40px;
}

#company hr {
    border-bottom: 1px solid #ddd;
}

.expenses td:not(:first-child), td.expense {
    color: #a31d0e;
}

.earnings td:not(:first-child), td.earning {
    color: green;
}

.colorlessLink {
    color: inherit;
}

.text-center {
    text-align: center;
}

/* fontawesome */

.fa-fw.fa-xs {
    margin-right: 5px;
    vertical-align: 1px;
}

.fa-grey {
    color: grey;
}

.fa-users {
    color: #84aded;
}

.fa-chart-line {
    color: #c745cc;
}

.fa-coins {
    color: #efc700;
}

.fa-wrench {
    color: #8b96a0;
}
