@import "Constants.scss";

.modal h1 {
    flex: 1 1 auto;
    line-height: 42px;
}

.dialogHeader {
    display: flex;
    flex-flow: row;
    flex: 0 0 38px;
}

.modal button.dialogClose {
    flex: 0 1 22px;
    background: white;
    color: gray;
    height: 42px;
    margin-top: 0px;
    transition: all 0.2s;
    border-radius: 5px;
    padding: 5px 10px 3px 10px;
}

.modal button.dialogClose:hover {
    background: #ddd;
}

.flexbox, .column-flexbox {
    display: flex;
    justify-content: space-between;
}

.column-flexbox {
    height: 100%;
    flex-flow: column;
}

.remaining-size {
    flex: 1 1 auto;
}

.content-height {
    flex: 0 1 auto;
}

.dialogDetail {
    flex: 1 1 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-top: 30px;
    border-top: 1px solid #ddd;
    overflow: hidden;
}

.dialogDetail h2 {
    margin-bottom: 10px;
}

.dialogDetail h2 > i.fas {
    color: #666;
    font-size: 22px;
    margin-right: 8px;
}

.dialogDetail td {
    color: #666;
}

.overlay {
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.ReactModalPortal > div {
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    transition: opacity 200ms;
    background: rgba(0, 0, 0, 0.5);
    &--after-open {
        opacity: 1;
    }
    &--before-close {
        opacity: 0;
    }
}


.modal {
    padding: 20px;
    width: 90%;
    height: 80%;
    top: 10%;
    left: 5%;
    position: fixed;
    background: white;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
    display: flex;
    flex-flow: column;
    cursor: default;
}

.modal h1 > i.fas {
    margin-right: 12px;
}

.modal button {
    margin-top: 10px;
    flex: 0 0 auto;
}

.modal button+button {
    margin-right: 10px;
}

.modal .centered {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.panel {
    flex: 0 1 280px;
    padding: 20px;
    background: #f8f8f8;
    border-radius: 10px;
    overflow: scroll;
}

.panel:not(:last-child) {
    border-right: 20px solid white;
}

.panel:last-child {
    border-left: 20px solid white;
}

.panelItem:not(:last-child) {
    margin-bottom: 30px;
}

h3 {
    margin-bottom: 15px;
}

h4 {
    margin-bottom: 15px;
}

p:not(:last-child) {
    margin-bottom: 30px;
}

input[type="checkbox"] {
     margin-right: 5px;
     width: 14px;
     height: 12.5px;
     zoom: 1.3;
}

input[type="radio"] {
    margin-right: 5px;
    vertical-align: 1px;
}

legend {
    font-weight: bold;
    padding-top: 20px;
    margin-bottom: 5px;
}

.dialogDetail .full-height {
    height: calc(100% - 140px);
}

.borderedList {
    flex: 1 1 auto;
    overflow: auto;
}

.borderedList ul > li {
    padding: 6px;
    list-style: none;
}

.borderedList ul > li > div.flexbox > button {
    flex-basis: 50px;
    display: inline-block;
    margin: 0px 0px 0px 5px;
    padding: 5px;
}

.borderedList > ul > li > div:not(:last-child) {
    margin-bottom: 5px;
}

.cell-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cell-detailTitle {
    text-align: right;
    padding-left: 5px;
}

.detailTitle {
    margin-left: 28px;
    color: gray;
}

.description {
    font-size: 14px;
    color: #555;
}

.dialogDetail h3+h4 {
    margin-top: 20px;
}

.star-ratings {
    display: block;
}

.checkbox-subtitle {
    margin-left: 24px;
    margin-bottom: 10px;
    color: gray;
}

.margin-bottom {
    margin-bottom: 2px;
}

.destructive {
    background: rgb(168, 33, 33);
}

.tooltip-container .flexbox button {
    text-align: center;
}

.tooltip-container button.constructive, .tooltip-container button.constructive:hover {
    background: green;
}

.choosableItem {
    margin: 15px 0px;
    background: #e5e5e5;
    padding: 8px;
    border-radius: 5px;
}
