@import "Constants.scss";

.modal h1 {
    flex: 1 1 auto;
    line-height: 42px;
}

.dialogHeader {
    display: flex;
    flex-flow: row;
    flex: 0 0 38px;
}

.modal button.dialogClose {
    flex: 0 1 22px;
    background: white;
    color: gray;
    height: 42px;
    margin-top: 0px;
    transition: all 0.2s;
    border-radius: 5px;
    padding: 5px 10px 3px 10px;
}

.modal button.dialogClose:hover {
    background: #ddd;
}

.flexbox, .column-flexbox {
    display: flex;
    justify-content: space-between;
}

.column-flexbox {
    height: 100%;
    flex-flow: column;
}

.remaining-size {
    flex: 1 1 auto;
}

.content-height {
    flex: 0 1 auto;
}

.dialogDetail {
    flex: 1 1 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-top: 30px;
    border-top: 1px solid #ddd;
    overflow: hidden;
}

.dialogDetail h2 {
    margin-bottom: 10px;
}

.dialogDetail h2 > i.fas {
    color: #666;
    font-size: 22px;
    margin-right: 8px;
}

.dialogDetail td {
    color: #666;
}

.overlay {
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.ReactModalPortal > div {
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    transition: opacity 200ms;
    background: rgba(0, 0, 0, 0.5);
    &--after-open {
        opacity: 1;
    }
    &--before-close {
        opacity: 0;
    }
}


.modal {
    padding: 20px;
    width: 90%;
    height: 80%;
    top: 10%;
    left: 5%;
    position: fixed;
    background: white;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
    display: flex;
    flex-flow: column;
    cursor: default;
}

.modal h1 > i.fas {
    margin-right: 12px;
}

.modal button {
    margin-top: 10px;
    width: 180px;
    flex: 0 1 auto;
}

.modal button+button {
    margin-right: 10px;
}

.modal .centered {
    margin-left: auto;
    margin-right: auto;
}

.panel {
    flex: 0 1 200px;
    padding: 20px;
    background: #f8f8f8;
    border-radius: 10px;
    overflow: scroll;
}

.panel:not(:last-child) {
    border-right: 10px solid white;
}

.panel:last-child {
    border-left: 10px solid white;
}

h3 {
    margin-bottom: 15px;
}

h4 {
    margin-bottom: 15px;
}

input[type="radio"], input[type="checkbox"] {
     margin-right: 5px;
     //vertical-align: middle;
     width: 14px;
     height: 12.5px;
     zoom: 1.3;
}

legend {
    font-weight: bold;
    padding-top: 20px;
    margin-bottom: 5px;
}

.dialogDetail .full-height {
    height: calc(100% - 140px);
}

.borderedList {
    flex: 1 1 auto;
    overflow: auto;
}

.borderedList ul > li {
    padding: 6px;
    list-style: none;
}

.detailTitle {
    margin-left: 28px;
    color: gray;
}

.dialogDetail h3+h4 {
    margin-top: 20px;
}

.star-ratings {
    display: block;
}

.pull-right > a {
    display: inline-block;
    width: 50px;
    text-align: center;
    margin-left: 5px;
    border-radius: 5px;
    color: white;
    background: green;
}

.checkbox-subtitle {
    margin-left: 24px;
    margin-bottom: 10px;
    color: gray;
}

.margin-bottom {
    margin-bottom: 2px;
}

a.fire {
    background: rgb(168, 33, 33);
}
