.tooltip-container {
    background-color: rgb(49, 53, 60);
    color: white;
    border-radius: 3px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    margin: 0.4rem;
    padding: 0.4rem;
    transition: opacity 0.3s;
    z-index: 999;
    max-height: 400px;
}

.tooltip-container li {
    list-style: none;
}

.tooltip-arrow {
    height: 1rem;
    position: absolute;
    width: 1rem;
}

.tooltip-arrow::before {
    border-style: solid;
    content: '';
    display: block;
    height: 0;
    margin: auto;
    width: 0;
}

.tooltip-arrow[data-placement*='top'] {
    bottom: 0;
    height: 1rem;
    left: 0;
    margin-bottom: -1rem;
    width: 1rem;
}

.tooltip-arrow[data-placement*='top']::before {
    border-color: rgb(49, 53, 60) transparent transparent transparent;
    border-width: 0.4rem 0.5rem 0 0.5rem;
    position: absolute;
}


:not(.tooltip-container) > div > .borderedList {
    border: 1px solid #ddd;
}

:not(.tooltip-container) > div > .borderedList ul > li:nth-child(2n) {
    background: #fafafa !important;
}

.tooltip-container {
    max-height: 600px;
    min-width: 250px;
}

.tooltip-container.tooltip-secondary {
    background-color: rgb(59, 64, 73);
}

.tooltip-container button {
    background: inherit;
    width: 100%;
    text-align: left;
    font-weight: normal;
}

.tooltip-container button:hover {
    background: rgb(64, 69, 79);
}

.tooltip-container.tooltip-secondary button:hover {
    background: rgb(74, 81, 93);
}

:not(h3)~h4 {
    margin-top: 30px;
    margin-bottom: 10px;
}

.subtitle {
    margin-top: 5px;
    color: #999;
}

.subtitle.withImage {
    margin-left: 28px;
}

input[type="radio"]+.subtitle {
    margin-bottom: 10px;
}

input[type="radio"]~.subtitle {
    margin-bottom: 10px;
    margin-left: 18px;
}

.tooltip-container .popoverFinishButton {
    background: rgb(74, 81, 93);
    text-align: center;
}
